  /**
 * styles.css
 *
 * a1.jodymoore.net
 *
 * Global CSS.
 */
#div1 img {			
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#div1 h2 {
  text-align: center;
}

#div1 h1 {
  text-align: center;
}

#div1 blockquote {
  text-align: center;
}

#div1 p {
  display: inline-block;
  margin: 20px 293px 20px 293px;
}

