  /**
 * styles.css
 *
 * a1.jodymoore.net
 *
 * Global CSS.
 */
#div1 img {			
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
}

#div1 h2 {
  text-align: center;
}

#div1 h1 {
  text-align: center;
}

#div1 blockquote {
  text-align: center;
}

#div1 p {
  display: inline-block;
  margin: 20px 293px 20px 293px;
  font-size: 14px;
  font-weight: 500;
}

blockquote h4 {
	font-style: italic;
	font-weight: 450;
}